* {
	margin: 0;
	padding: 0;
	letter-spacing: normal;
    word-spacing: normal;
}

body, html {
	width: 100%;
	height: 100%;
}

#block {
	width: 900px;
	height: 500px;
	margin: 0 auto;
	padding: 0;
	background: #f5f5f5;
}

body {
	background-color: #fff;
	font-family: Arial;
}

header {
	width: 100%;
	padding-top: 24px;
	padding-bottom: 12px;
	background-color: #062933;
	float: left;
}

header #logo {
	color: #c9a920;
	font-size: 24px;
	font-weight: bolder;
	margin-left: 24px;
	font-family: Arial;
	position: absolute;
	top: 18px;
}

#about {
	text-align: left;
	font-size: 18px;
	margin-left: 200px;
	margin-bottom: 12px;
}

#about > a {
	color: #c9a920;
	text-decoration: none;
	margin-right: 3%;
}

#about > a:hover {
	color: #b0b0b0;
}

#title_text {
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	margin-left: 24px;
	padding-top: 24px;

}

#text {
	float: right;
	text-align: justify;
	margin-top: 24px;
	font-family: Arial;
	font-size: 16px;
	margin-right: 24px;
}

#forma {
	width: 180px;
	height: 120px;
	border: 1.5px solid #000;
	padding: 12px;
	position: sticky;
	float: right;
	margin-left: 12px;
}

